.header
  %p.header__name Arakawa Takumi
  %h1.header__title P o r t f o l i o S i t e
  %p.header__subname 荒 川 拓 実 で す 。
  %ul.header__lists
    %li -
    %li about me 
    %li -
    %li works
    %li -  
    %li skill 
    %li -
    %li contact
    %li -
    

.about-me
  %p.about-me__title About me
  %p
  %p
  %p

.works
  %p.works__title Works
  %p
  %p
  %p

.skill
  %p.skill__title Skill
  %p
  %p
  %p

.contact
  %p.contact__title Contact
  %p
  %p
  %p

.footer
  %small 荒川 拓実