.header
  %p.header__name Arakawa Takumi
  %h1.header__title P o r t f o l i o _ S i t e
  %p.header__subname 新 米 エ ン ジ ニ ア の 荒 川 拓 実 で す 。
  %p.header__message よ ろ し く お 願 い し ま す 。
  %ul.header__lists
    %li -
    %li about me 
    %li -
    %li works
    %li -  
    %li skill 
    %li -
    %li contact
    %li -
    

.about-me
  %p.about-me__title About me
  .about-me__contents
    .account
      = image_tag "IMG_8380.JPG",class: "account-img__NY"
      = image_tag "IMG_3166.jpeg",class: "account-img__SB"
    .text
      %p 1996年生まれ。23歳。
      .career
        %h1 - 経歴 -
        %p.min-title [ 2015.4~2019.3 地方国立大学文系 ]
        %p 主に経済を専攻。４年間続けたホテルのアルバイトでは、バイトリーダーを務めました。[リーダーシップ、主体性]
        その他、市役所でのアルバイト、県庁への政策提案、ボランティア活動など、幅広い経験をしました。[行動力、好奇心]
        %p ← 写真は大学時に旅行で訪れたニューヨークでの１枚です。
        %p.min-title [ 2019.4~2019.10 営業職 ]
        %p 営業スキルを最速で磨くことができると思い入社しました。
        月約１０冊の読書によるインプット、商談に向けた入念な準備、商談で学びのアウトプット、そして結果にこだわり続け、支店記録や個人記録を達成しました。
        [達成欲、執着心、結果へのコミットメント]
        %h1 - 現在 -
        %p Ruby学習中・転職活動中
        %h1 - 将来像 -
        %p アプリケーション開発に携わり、技術を身につけていく。
        %p 将来的には、開発チームのリーダーとしてリードしていきたいです。


.works
  %p.works__title Works
  %p アウトプットアプリ
  = link_to "myBeforeAfter","http://18.178.69.49/", class: "aaa"
  %br/
  = link_to image_tag("6e3cec35b4913d4ba6e91a70640a4b28.png",class: "work-img"),"http://18.178.69.49/"

  %p
  %p

.skill
  %p.skill__title Skill
  %p
  %p
  %p

.contact
  %p.contact__title Contact
  %p
  %p
  %p

.footer
  %p 荒川 拓実