<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>taku-studio</title>
  <link rel="stylesheet" href="index.css"/>
</head>
<body>
  <header>
    <p class="header__name">Arakawa Takumi</p>
    <h1 class="header__title">P o r t f o l i o _ S i t e</h1>
    <p class="header__subname">新 米 エ ン ジ ニ ア の 荒 川 拓 実 で す 。</p>
    <p class="header__message">よ ろ し く お 願 い し ま す 。</p>
    <ul class="header__lists">
      <li>-</li>
      <li>about me</li>
      <li>-</li>
      <li>works</li>
      <li>-</li>
      <li>skill</li>
      <li>-</li>
      <li>contact</li>
      <li>-</li>
    </ul>
  </header>
  
  <div class="about-me">
    <p class="about-me__title">About me</p>
    <div class="about-me__contents">
      <div class="account">
        <image src="IMG_8380.JPG",class="account-img__NY"></image>
      </div>
    </div>
  </div>
</body>
</html>
